.rating-slider {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .stars {
    font-size: 24px;
    color: #808512; /* gold color */
    cursor: pointer;
  }

  .star {
    transition: color 0.2s;
  }

  .star.active {
    color: #ffff00; /* darker gold color */
  }


.entry-modal{
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 transform:translatex(5px) translatey(135px);
 width:100%;
}

/* Entry modal form */
.entry-modal .entry-modal-form{
 display:inline-grid;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 width:336px;
 height:565px;
 transform:translatex(-5px) translatey(-135px);
 background-color:#603fef;
 color:#ffffff;
 flex-wrap:nowrap;
 background-image: url('../../assests/modaltest.png');
 background-size: cover;

}

/* Modal content */


/* Entry name modal */
#entry-name-modal{
 border-top-left-radius:5px;
 border-top-right-radius:5px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
 border-style:none;
}

/* Entry system modal */
#entry-system-modal{
 border-top-left-radius:5px;
 border-top-right-radius:5px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
 border-style:none;
}

/* Entry region modal */
#entry-region-modal{
 border-style:none;
 border-top-left-radius:5px;
 border-top-right-radius:5px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
}

/* Entry progress modal */
#entry-progress-modal{
 border-style:none;
 border-top-left-radius:5px;
 border-top-right-radius:5px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
}

/* Entry progress note modal */
#entry-progress-note-modal{
 border-style:none;
 border-top-left-radius:5px;
 border-top-right-radius:5px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
}

/* Entry review modal */
#entry-review-modal{
 border-top-left-radius:5px;
 border-top-right-radius:5px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
 border-style:none;
}

/* Entry wishlist modal */
#entry-wishlist-modal{
 background-color:transparent;
}

/* Button */
.entry-modal .entry-modal-form button{
 color:#ffffff;
 background-color:#ab00f4;
}

/* Button */
.entry-modal .entry-modal-form button:nth-child(19){
  background-color:#cbb4d8;
 }

 /* Label */
 .entry-modal .entry-modal-form label:nth-child(1){
  font-weight:700;
  text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
 }

 /* Label */
 .entry-modal .entry-modal-form label:nth-child(3){
  font-weight:700;
  text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
 }

 /* Label */
 .entry-modal .entry-modal-form label:nth-child(5){
  font-weight:700;
  text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
 }

 /* Label */
 .entry-modal .entry-modal-form label:nth-child(7){
  font-weight:700;
  text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
 }

 /* Label */
 .entry-modal .entry-modal-form label:nth-child(9){
  font-weight:700;
  text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
 }

 /* Paragraph */
 .entry-modal-form .rating-slider p{
  font-weight:700;
  text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
 }

 /* Rating slider */
 .entry-modal .entry-modal-form .rating-slider{
  font-weight:700;
  text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
 }

 /* Label */
 .entry-modal .entry-modal-form label:nth-child(12){
  font-weight:700;
  text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
 }

 /* Label */
 .entry-modal .entry-modal-form label:nth-child(14){
  font-weight:700;
  text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
 }

 /* Label */
 .entry-modal .entry-modal-form label:nth-child(16){
  font-weight:700;
  text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
 }

