.rating-slider {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .stars {
    font-size: 24px;
    color: #ffd700; /* gold color */
    cursor: pointer;
  }

  .star {
    transition: color 0.2s;
  }

  .star.active {
    color: #ffac33; /* darker gold color */
  }


.entry-modal{
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 transform:translatex(5px) translatey(135px);
 width:100%;
}

/* Entry modal form */
.entry-modal .entry-modal-form{
 display:inline-grid;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 width:336px;
 height:565px;
 transform:translatex(-5px) translatey(-135px);
 background-color:#603fef;
 color:#ffffff;
 flex-wrap:nowrap;
 background-image: url('../../assests/modaltest.png');
 background-size: cover;
 
}

/* Modal content */


/* Entry name modal */
#entry-name-modal{
 border-top-left-radius:5px;
 border-top-right-radius:5px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
 border-style:none;
}

/* Entry system modal */
#entry-system-modal{
 border-top-left-radius:5px;
 border-top-right-radius:5px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
 border-style:none;
}

/* Entry region modal */
#entry-region-modal{
 border-style:none;
 border-top-left-radius:5px;
 border-top-right-radius:5px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
}

/* Entry progress modal */
#entry-progress-modal{
 border-style:none;
 border-top-left-radius:5px;
 border-top-right-radius:5px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
}

/* Entry progress note modal */
#entry-progress-note-modal{
 border-style:none;
 border-top-left-radius:5px;
 border-top-right-radius:5px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
}

/* Entry review modal */
#entry-review-modal{
 border-top-left-radius:5px;
 border-top-right-radius:5px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
 border-style:none;
}

/* Entry wishlist modal */
#entry-wishlist-modal{
 background-color:transparent;
}

/* Button */
.entry-modal .entry-modal-form button{
 color:#ffffff;
 background-color:#ab00f4;
}
